<form>
    <div className='m-2'>
        <h3 style={{textAlign:'center'}}>Register as Driver</h3>
        <p style={{textAlign:'center'}}>Enter basic user data</p>
    </div>
    <div className="m-2">
        <input className="form-control" type="text" name="fname" placeholder="First name" />
    </div>
    <div className="m-2">
        <input className="form-control" type="text" name="lname" placeholder="Last name" />
    </div>
    <div className="m-2">
        <input className="form-control" type="text" name="username" placeholder="Username" />
    </div>
    <div className="m-2">
        <input className="form-control" type="password" name="password" placeholder="Password" />
    </div>
    <div className="m-2">
        <select class="custom-select my-1 mr-sm-2" id="gender" name="gender">
            <option selected>Choose...</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>
    <div className="m-2">
    <!--TODO: the coutries, if we need them, should be loaded dynamically-->
 
    </div>
    <div className="m-2">
        Upload State ID
        <input type="file" className="form-control form-control-file" name="stateid" />
    </div>
    <div className="m-2">
        <input className="form-control" type="phone" name="phone" placeholder="Phone" />
    </div>
    <div className="m-2">
        <input className="form-control" type="text" name="address" placeholder="Address" />
    </div>
    <div className="m-2">
        <input className="btn btn-block btn-primary btn-md" type="submit" value="NEXT" />
    </div>
</form>